[submodule "ThirdParty/LatencyChecker"]
	path = ThirdParty/LatencyChecker
	url = https://github.com/Incanta/LatencyChecker.git
[submodule "ThirdParty/SocketIOClient"]
	path = ThirdParty/SocketIOClient
	url = https://github.com/God-Mode-Games/SocketIOClient-Unreal.git
	branch = hollowed-oath
